<footer>
    <div class="footer_info">
        <div class="footer_width about col-md-4">
            <h2>A propos</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Consequuntur voluptas est sequi accusantium iusto! Eos, 
                provident nesciunt nulla rerum itaque alias accusamus, 
                totam voluptatem explicabo repellat praesentium ut dignissimos sit?
            </p>
            <div class="social-media">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="footer_width link col-md-4">
            <h2>Liens Rapides</h2>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Faq</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="footer_width contact col-md-4">
            <h2>contact</h2>
            <ul>
                <li>
                    <span><i class="fa fa-map-marker-alt"></i></span>
                    <p>
                        Veuillez à nous laisser un courriel afin d'obtenir amples informations
                    </p>
                </li>
                <li>
                    <span><i class="fa fa-evelope"></i></span>
                    <a href="#">officiel.lionel26@gmail.com</a>
                </li>
                <li>
                    <span><i class="fa fa-phone"></i></span>
                    <a href="#">+241 74129812</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        @  COPYRIGHT HABIB KHMIRI
    </div>
</footer>