<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="about-section">
                <h2>À Propos de Nous</h2>
                <p>Bienvenue sur notre site. Nous sommes une équipe passionnée...</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit quas laborum nisi natus sapiente perferendis, id animi similique libero voluptatem cumque corrupti pariatur minima eveniet inventore beatae non harum ea.</p>
            </div>
        </div>
    </div>

     <!--end Of New Product-->
<div class="title-box">
    <h1>Notre équipe</h1>
  </div>
  <div class="row team">
  <div class="team-row col-md-3">
    <div class="profile-box">
      <h4>Ahmad</h4>
      <small>Fondateur</small>
      <img src="assets/image/team/team-2.png" alt="">
      <div class="social-link">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="team-row col-md-3">
    <div class="profile-box">
      <h4>Ali</h4>
      <small>Fondateur</small>
      <img src="assets/image/team/team-1.webp" alt="">
      <div class="social-link">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="team-row col-md-3">
    <div class="profile-box">
      <h4>Zahra</h4>
      <small>Fondateur</small>
      <img src="assets/image/team/team-2.png" alt="">
      <div class="social-link">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
  <div class="team-row col-md-3">
    <div class="profile-box">
      <h4>Omar</h4>
      <small>Fondateur</small>
      <img src="assets/image/team/team-1.webp" alt="" />
      <div class="social-link">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-linkedin"></i>
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
      </p>
    </div>
  </div>
  </div>
  <!--Fin de l'équipe-->
    </div>
