<br><br><br><br><br><br>
<section class="article">
    <div class="container py-5">
  
      <div class="row">
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
            <div class="card">
              <img src="assets/image/1.jpeg" alt="" class="img-fluid">
              <p class="pt-3"><a href="#">Accessoire  tele</a></p>
              <span id="cost">11.000.000F</span>
              <span id="name">HATCHBACK</span>
              <small>
                  <a href="#">2022</a>
                  <a href="#">MANUELLE</a>
                  <a href="#">Climatisée</a>
              </small>
            </div>
          </div>
          <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
            <div class="card">
              <img src="assets/image/2.webp" alt="" class="img-fluid">
              <p class="pt-3"><a href="#">Accessoire  tele</a></p>
              <span id="cost">11.000.000</span>
              <span id="name">HATCHBACK</span>
              <small>
                  <a href="#">2022</a>
                  <a href="#">MANUELLE</a>
                  <a href="#">Climatisée</a>
              </small>
            </div>
          </div>
          <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
            <div class="card">
              <img src="assets/image/3.jpg" alt="" class="img-fluid">
              <p class="pt-3"><a href="#">Accessoire  tele</a></p>
              <span id="cost">11.000.000</span>
              <span id="name">HATCHBACK</span>
              <small>
                  <a href="#">2022</a>
                  <a href="#">MANUELLE</a>
                  <a href="#">Climatisée</a>
              </small>
            </div>
          </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
            <div class="card">
              <img src="assets/image/4.jpg" alt="" class="img-fluid">
              <p class="pt-3"><a href="#">Accessoire  tele</a></p>
              <span id="cost">11.000.000</span>
              <span id="name">HATCHBACK</span>
              <small>
                  <a href="#">2022</a>
                  <a href="#">MANUELLE</a>
                  <a href="#">Climatisée</a>
              </small>
            </div>
          </div>
          <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
            <div class="card">
              <img src="assets/image/6.jpg" alt="" class="img-fluid">
              <p class="pt-3"><a href="#">Accessoire  tele</a></p>
              <span id="cost">11.000.000</span>
              <span id="name">HATCHBACK</span>
              <small>
                  <a href="#">2022</a>
                  <a href="#">MANUELLE</a>
                  <a href="#">Climatisée</a>
              </small>
            </div>
          </div>
          <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
            <div class="card">
              <img src="assets/image/5.jpeg" alt="" class="img-fluid">
              <p class="pt-3"><a href="#">Accessoire  tele</a></p>
              <span id="cost">11.000.000</span>
              <span id="name">HATCHBACK</span>
              <small>
                  <a href="#">2022</a>
                  <a href="#">MANUELLE</a>
                  <a href="#">Climatisée</a>
              </small>
            </div>
          </div>
      </div>
    </div>
</section>


<!--End Of Services-->
<section class="article">
<div class="container py-5">
  <h1 class="text-center">Derniers Produits</h1><br>
  <div class="row">
    <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
        <div class="card">
          <img src="assets/image/7.jpg" alt="" class="img-fluid">
          <p class="pt-3"><a href="#">Accessoire  tele</a></p>
          <span id="cost">11.000.000</span>
          <span id="name">HATCHBACK</span>
          <small>
              <a href="#">2022</a>
              <a href="#">MANUELLE</a>
              <a href="#">Climatisée</a>
          </small>
        </div>
      </div>
      <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
        <div class="card">
          <img src="assets/image/3.jpg" alt="" class="img-fluid">
          <p class="pt-3"><a href="#">Accessoire  tele</a></p>
          <span id="cost">11.000.000</span>
          <span id="name">HATCHBACK</span>
          <small>
              <a href="#">2022</a>
              <a href="#">MANUELLE</a>
              <a href="#">Climatisée</a>
          </small>
        </div>
      </div>
      <div class="col-lg-4 wow bounceIn" data-wow-delay="0.3s">
        <div class="card">
          <img src="assets/image/6.jpg" alt="" class="img-fluid">
          <p class="pt-3"><a href="#">Accessoire  tele</a></p>
          <span id="cost">8.000.000F</span>
          <span id="name">HATCHBACK</span>
          <small>
              <a href="#">2022</a>
              <a href="#">MANUELLE</a>
              <a href="#">Climatisé</a>
          </small>
        </div>
      </div>
  </div>
  </div>
</section>